@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap");
img {
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

a {
  text-decoration: none;
  color: black;
}

#header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
#header #brand {
  min-width: 145px;
  display: flex;
  align-items: center;
}
#header #brand .brand__logo {
  max-width: 64px;
  height: auto;
}
#header #brand .brand__title {
  display: block;
  width: auto;
}
#header .menu__item {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}

#usermenu {
  width: 100px;
}
#usermenu .usermenu__user,
#usermenu .usermenu__cart {
  width: 20px;
}
@media (max-width: 992px) {
  #usermenu .usermenu__user,
  #usermenu .usermenu__cart {
    width: 24px;
    margin-left: 20px;
  }
}

#b1hero {
  position: relative;
  height: 600px;
  overflow: hidden;
}
#b1hero .b1hero__img {
  width: 100%;
  height: auto;
}
#b1hero div {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
}
#b1hero div h1 {
  display: block;
  font-family: "Poppins";
  font-size: 2em;
  line-height: 40px;
  letter-spacing: 0;
}
#b1hero div h1,
#b1hero div a,
#b1hero div span {
  margin-bottom: 30px;
}
#b1hero div .info__txt {
  display: block;
  width: 100%;
  padding-right: 10px;
  font-family: "Poppins";
  font-size: 3em;
  line-height: 56px;
  letter-spacing: 0;
}
#b1hero div .info__cta {
  width: 250px;
  padding: 12px 24px;
  text-align: center;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: black;
}
@media (max-width: 576px) {
  #b1hero div h1 {
    font-family: "Poppins";
    font-size: 1.5em;
    line-height: 32px;
    letter-spacing: 0;
  }
  #b1hero div .info__txt {
    font-family: "Poppins";
    font-size: 2em;
    line-height: 40px;
    letter-spacing: 0;
  }
}
@media (max-width: 425px) {
  #b1hero div {
    top: 10%;
  }
  #b1hero div h1,
  #b1hero div span {
    margin-bottom: 15px !important;
  }
  #b1hero div h1 {
    font-family: "Poppins";
    font-size: 1.25em;
    line-height: 32px;
    letter-spacing: 0;
  }
  #b1hero div .info__txt {
    font-family: "Poppins";
    font-size: 1.5em;
    line-height: 32px;
    letter-spacing: 0;
  }
  #b1hero div .info__cta {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  #b1hero {
    height: 50%;
  }
}

#title__section, #title__section--line {
  margin: 45px 0;
}
#title__section h3, #title__section--line h3 {
  font-family: "Poppins";
  font-size: 1.25em;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0;
}

#title__section--line {
  display: inline-block;
}
#title__section--line h3 {
  margin-top: 20px;
  padding: 10px 50px 10px 50px;
  background: rgb(209, 209, 209);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
}

#shop {
  margin: 0 30px 30px 30px;
}
#shop .products {
  margin: 10px 0 90px 0;
}
@media (max-width: 576px) {
  #shop .products {
    justify-content: center !important;
  }
}
#shop .products .product {
  position: relative;
  display: flex;
  justify-content: center;
  width: 233px;
  height: 345px;
  margin: 10px;
  overflow: hidden;
}
@media (max-width: 576px) {
  #shop .products .product {
    width: 100%;
    padding: 0;
  }
}
#shop .products .product img {
  height: 100%;
  width: auto;
}
@media (max-width: 576px) {
  #shop .products .product img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
#shop .products .product .item__head,
#shop .products .product .price {
  position: absolute;
  padding: 10px;
}
#shop .products .product .item__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
}
#shop .products .product .item__head h3 {
  margin: 0;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#shop .products .product .item__head .size {
  display: flex;
  width: 20%;
}
#shop .products .product .item__head .size ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
}
#shop .products .product .item__head .size ul li {
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0;
}
#shop .products .product .price {
  bottom: 0;
  left: 0;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0;
}

#trending {
  background-color: rgb(170, 170, 170);
}
#trending .trending__img {
  overflow: hidden;
}
#trending .trending__img img {
  max-width: 100%;
  height: auto;
  padding: 0 !important;
}
#trending .trending__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#trending .trending__info h2 {
  width: 90%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 5em;
  line-height: 88px;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  #trending .trending__info h2 {
    font-family: "Poppins";
    font-size: 3em;
    line-height: 56px;
    letter-spacing: 0;
  }
}
@media (max-width: 576px) {
  #trending .trending__info h2 {
    font-family: "Poppins";
    font-size: 2.5em;
    line-height: 48px;
    letter-spacing: 0;
  }
}
#trending .trending__info a {
  margin-top: 20px;
  padding: 12px 24px;
  text-align: center;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid white;
}

#design .design__slider {
  display: flex;
  background-color: rgb(224, 224, 224);
}
#design .design__slider img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#design .design__products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#design .design__products .product__card {
  justify-content: center;
}
#design .design__products .product__card .card__img {
  display: flex;
  overflow: hidden;
}
#design .design__products .product__card .card__img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#design .design__products .product__card .card__info h3 {
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#design .design__products .product__card .card__info .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#design .design__products .product__card .card__info .info h3 {
  display: block;
}
#design .design__products .product__card .card__info .info h3,
#design .design__products .product__card .card__info .info .info__sizes ul,
#design .design__products .product__card .card__info .info .info__prices {
  margin-bottom: 10px;
}
#design .design__products .product__card .card__info .info .info__sizes ul {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
#design .design__products .product__card .card__info .info .info__sizes ul li {
  width: 32px;
  height: 32px;
  padding: 10px 10px;
  line-height: 1100px;
  margin: 0 5px;
  text-align: center;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  border: 1px solid black;
  border-radius: 50%;
}

#stories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0;
}
#stories .story__card {
  margin: 10px;
  text-align: right;
}
#stories .story__card img {
  max-width: 150px;
  max-height: auto;
  border-radius: 35%;
  border-bottom-left-radius: 0;
}
#stories .story__card h3,
#stories .story__card p {
  display: block;
  margin: 0;
}
#stories .story__card h3 {
  margin: 10px 0;
  font-family: "Poppins";
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0;
}
#stories .story__card p {
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0;
}

#footer {
  margin: 90px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .footer__widget {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px 20px 0;
  padding-left: 15px;
  border-left: 0.3px solid black;
}
#footer .footer__widget h3 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
#footer .footer__widget a {
  padding: 8px 0;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0;
}
#footer .footer__email {
  margin-top: 5px;
  width: 400px;
}
#footer .footer__email p {
  width: auto;
  margin-top: 12px;
  font-family: "Poppins";
  font-size: 0.75em;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0;
}

/*# sourceMappingURL=style.css.map */
